/*	https://jasonwang1234.github.io/ */
:root{
	--shadow_property: 9px 9px 10px 0 #0f0f0f;
}

body{
	background-attachment: fixed;
	background-size: cover;

}

#home_page_frame{
	/*background-color: white;*/
	height: 88%;
	width: 78%;
	display: inline-block;
	position: absolute;
	margin-top: 3%;
	margin-left: 10%;
}

.home_links_unique{
	width: 8cm;
 	height: 8cm;
 	/* margin: 2.5cm 1.5cm 0cm 8cm; */
 	top: 4.4cm;
 	left: 9.9cm;
 	position: absolute;
 	/*testing color: red*/
	background-color: rgba(127 ,218 ,207,0.75);
	display: inline-block;
	box-shadow: var(--shadow_property);
	transition: width 1s, height 1s;
	font-family: 'Stardos Stencil', cursive;
	background: url(../picture/study_tag.jpg);
	background-size: cover;	
	color: rgb(63, 160, 139);
	font-size: 120%
}

#sport_link{
	color: rgb(190,190,190);
	width: 10cm;
	height: 10cm;
	top: 2.5cm;
 	left: 19.4cm;
	border-radius: 0 10cm 0 0;
	background: linear-gradient(rgba(178,180,181,0.75) 20%,rgba(250,250,250,0.75) 40%,rgba(168,169,173,0.75));
	display: inline-block; 
	box-shadow: var(--shadow_property);
	position: absolute;
	text-align: left;
	font-family: 'Orbitron', sans-serif;
	background: url(../picture/sport_tag.jpg);	
	background-size: cover;
}

#brand_link{
	width: 8cm;
	height: 8cm;
	top: 14cm;
	left: 9.9cm;
	border-radius: 0 0 0 8cm;
	background-color: rgba(94,73,138,0.75);
	display: inline-block;
	/*margin: 0 0 1cm 8cm;*/
	box-shadow: var(--shadow_property);
	position: absolute;
	font-family: 'Bungee Shade', cursive;
	color: rgb(61,144,123);
	font-size: 90%;
	background: url(../picture/brand_tag.jpg);	
	background-size: cover;
}

#game_link{
	width: 9cm;
	height: 9cm;
	top: 14cm;
	left: 19.5cm;
	border-radius: 0 0 9cm 0;
	/*background-color: rgba(0,255,255,0.5);*/
	display: inline-block;
	/*margin: 1.5cm 0 0 1.5cm;*/ 
	box-shadow: var(--shadow_property);
	position: absolute;
	font-family: 'Monoton', cursive;
	background: url(../picture/game_tag_2.jpg);	
	color: rgb(228, 153, 118);
}



.home_links{
	transition: width 1s,height 1s;
}
.home_links:hover{
	/*通用按钮鼠标悬浮设置*/
	transition: width 2s, height 2s;
}

#game_link:hover{
	width: 9.5cm;
	height: 9.5cm;
}
#sport_link:hover{
	width: 10.5cm;
	height: 10.5cm;
}
#brand_link:hover{
	width: 8.5cm;
	height: 8.5cm;
}

.home_links_unique:hover{
	height: 8.5cm;
	width: 8.5cm;
	transition: height 2s, width 2s;
}

#about_author{
	
	height: 2cm;
	width: 2cm;
	margin-top: 10%;
	margin-left: 10%; 
	background-color: black;
	color: white;
	border-radius: 50%;
	text-align:center;	
	position: absolute;
	background-color: grey;
	display: inline-block;



}

#about_author:hover{
	background-color: rgb(100,100,100);
	transition: 
}


/*文字部分*/
h1{
	font-size: 400%;	
}

/*  颜色设计缺陷
.game{
	background: -webkit-linear-gradient(left,rgba(255,0,0,0.99),rgba(255,165,0,0.99),rgba(255,255,0,0.99),rgba(0,128,1,0.99),rgba(0,0,254,0.99),rgba(148,0,212,0.99)); 
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
*/