body{
	background-size: cover;
	background-attachment: fixed;
}

#navg{
	top: 0;
	right: 0;
	left: 0;
	right: 0;
	height: 1.75cm;
	width: 100%;
	background: linear-gradient(to left,rgb(160,160,160),rgb(220,220,220),rgb(160,160,160));
	position: absolute;
}

.tag{
	height: 50%;
	width: 15%;
	display: inline-block;
	color:  rgb(0,0,0);
	font-weight: bold;
	transition: color 3s;
}	

.tag:hover{
	color: rgb(91, 105, 174);
	transition: color 0.5s;

}

#fram{
	top: 1.75cm;
	height: calc(100% - 1.75cm);
	width: 100%;
	position: absolute;
}
#huge_block{
	position: absolute;
	display:inline-block;
	top: 8%;
	left: 3%;
	height: 86%;
	width: 50%;

}

#block_1{
	display: inline-block;
	left: 20%;
	top:  0%;
	position: absolute;
	background-color: orange;
	width: 74%;
	height: 40%;
	border-radius: 10%;
}

#block_2{
	display: inline-block;
	top:  50%;
	position: absolute;
	background-color: orange;
	width: 60%;
	height: 40%;
	border-radius: 10%;
}


p{
	margin-top: 10%;
}

